*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

body{
    background-image: url("../img/capa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    border: 2px solid #cdcdcd;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}

div h1{
    margin-bottom: 20px;
    font-size: 50px;
}


input{
    height: 30px;
    width: 200px;
    font-size: 20px;
    border: 2px solid #cdcdcd;
    border-radius: 5px;
}

label{
    font-size: 20px;
}


button{
    height: 50px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
}

button:hover{
    cursor: pointer;

}